<script setup>
import { ref } from "vue";
const menus = [
    {
      label: "Us",
    },
    {
      label: "Works",
    },
  ],
  navOpen = ref(false);

function handleHamburger() {
  navOpen.value = !navOpen.value;
}
</script>
<template>
  <nav>
    <div class="logo">Logo</div>
    <div class="menu">
      <ul class="menu-items">
        <li v-for="menu in menus" :key="menu.id">{{ menu.label }}</li>
      </ul>
      <div
        class="hamburger"
        :class="navOpen ? 'active' : ''"
        @click="handleHamburger"
      >
        <span class="top"></span>
        <span class="mid"></span>
        <span class="bottom"></span>
      </div>
    </div>
  </nav>
  <section class="hamburgerMenu" v-show="navOpen">
    <div class="leftSide">
      <p class="leftMenu">Hamburger Menu A</p>
    </div>
    <div class="rightSide">
      <p class="rightMenu">Hamburger Menu B</p>
    </div>
  </section>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #222;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .menu {
    display: flex;
    align-items: center;
    .menu-items {
      list-style: none;
      display: flex;
      margin-right: 12px;
      li {
        padding-right: 8px;
        cursor: pointer;
      }
    }

    .hamburger {
      display: block;
      width: 50px;
      height: 50px;
      border: none;
      position: relative;
      z-index: 100;
      appearance: none;
      cursor: pointer;
      outline: none;

      span {
        cursor: pointer;
        display: block;
        width: 20px;
        height: 2px;
        margin: auto;
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all 0.4s ease;

        &.top {
          transform: translateY(-8px);
        }

        &.bottom {
          transform: translateY(8px);
        }
      }
      &.active {
        .top {
          transform: rotate(-45deg);
        }
        .mid {
          transform: translateX(-20px) rotate(360deg);
          opacity: 0;
        }
        .bottom {
          transform: rotate(45deg);
        }
      }
    }
  }
}
.hamburgerMenu {
  display: flex;

  .leftSide,
  .rightSide {
    background-color: #fff;
    color: #222;
    height: 100vh;
  }
  .leftSide {
    animation: slideDown 0.5s cubic-bezier(0.8, 0, 1, 1) both;
    flex-grow: 1;

    &.hide {
      animation: slideDownLeave 0.5s cubic-bezier(0.8, 0, 1, 1) both;
    }
  }
  .rightSide {
    animation: slideDown 0.5s cubic-bezier(0.8, 0, 1, 1) both;
    animation-delay: 0.2s;
    flex-grow: 2;

    &.hide {
      animation: slideDownLeave 0.5s cubic-bezier(0.8, 0, 1, 1) both;
      animation-delay: 0.5s;
    }
  }
  .leftMenu {
    animation: slideLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.25s;
  }
  .rightMenu {
    animation: slideLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.6s;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    opacity: 1;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes slideDownLeave {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
</style>
